$tablet:765px;
$desktop: 1200px;

@mixin tabletSize {
    @media screen and (min-width: $tablet) {
      @content;
    }
  }
  
  @mixin desktopSize {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }


.App {
  height: 100%;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  background-color: black;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}


